In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('data_v6.xlsx')

In [3]:
data.head()

,locations_month,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,...,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,date,locations,label
0,barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,...,1.5,24.0,13.0,23.0,23.0,10.17,3.0,2015-1,barisal,0
1,barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,...,9.5,26.0,14.0,25.0,26.0,2.26,3.0,2015-2,barisal,0
2,barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,...,13.0,30.0,16.0,29.0,30.0,4.83,14.0,2015-3,barisal,0
3,barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,...,31.5,34.0,23.0,30.0,34.0,44.09,16.0,2015-4,barisal,0
4,barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,...,37.5,38.0,25.0,32.0,38.0,20.35,15.0,2015-5,barisal,0

In [9]:
lst = list(data['label'])

In [10]:
for i in range(len(lst)):
    
    if lst[i] > 0:
        lst[i] = 1

In [11]:
data['label'] = lst

In [14]:
len(data)

2562

In [15]:
data.head()

,locations_month,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,...,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,date,locations,label
0,barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,...,1.5,24.0,13.0,23.0,23.0,10.17,3.0,2015-1,barisal,0
1,barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,...,9.5,26.0,14.0,25.0,26.0,2.26,3.0,2015-2,barisal,0
2,barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,...,13.0,30.0,16.0,29.0,30.0,4.83,14.0,2015-3,barisal,0
3,barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,...,31.5,34.0,23.0,30.0,34.0,44.09,16.0,2015-4,barisal,0
4,barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,...,37.5,38.0,25.0,32.0,38.0,20.35,15.0,2015-5,barisal,0