In [1]:
import numpy as np
import pandas as pd

In [2]:
ban_tweet = pd.read_excel('dengue_bangla.xlsx')

In [3]:
len(ban_tweet)

26437

In [4]:
ban_tweet.head()

,usernameTweet,ID,text,translated,location,url,nbr_retweet,nbr_favorite,nbr_reply,datetime,has_media,medias,is_reply,is_retweet,user_id
0,bijoynewsbd24,1154969905764196353,চাঁপাইনবাবগঞ্জের জুম্মার মসজিদগুলোতে গুজব ও ডে...,Imams warn of preventing rumors and dengue at ...,chapainawabganj ;,/bijoynewsbd24/status/1154969905764196353,0,0,0,2019-07-27 10:20:58,NaN,NaN,False,False,3271188163
1,24banglatopnews,1156026645897076749,চাঁপাইনবাবগঞ্জে ৩ ডেঙ্গু রোগী সনাক্ত ॥ জীবানুব...,Four dengue patients were identified in Chapai...,chapainawabganj ;,/24banglatopnews/status/1156026645897076749,0,0,0,2019-07-30 08:20:04,1.0,['https://t.co/7VfEcJi3Ad'],False,False,716978000936370176
2,DhakaTimes,1156852715806347265,চাঁপাইনবাবগঞ্জে বাড়ছে ডেঙ্গু রোগীর সংখ্যা htt...,Dengue patients increasing in Chapainawabganj ...,chapainawabganj ;,/DhakaTimes/status/1156852715806347265,0,1,0,2019-08-01 15:02:35,1.0,['https://t.co/HwMBtQ2z0c'],False,False,1086279288
3,MKhobor,1157896878111055872,চাঁপাইনবাবগঞ্জে টেকনিক্যাল অ্যান্ড বিজনেজ ম্যা...,"Awareness meeting on prevention of dengue, dru...",chapainawabganj ;,/MKhobor/status/1157896878111055872,0,0,0,2019-08-04 12:11:43,NaN,NaN,False,False,1047760803166732289
4,24banglatopnews,1158057781489856512,চাঁপাইনবাবগঞ্জে ডেঙ্গু রোগী ভর্তি ২৫ ॥ বৃদ্ধির...,Dengue patient admitted in Chapainawabganj,chapainawabganj ;,/24banglatopnews/status/1158057781489856512,0,0,0,2019-08-04 22:51:05,1.0,['https://t.co/6Gzo0EpIif'],False,False,716978000936370176

In [5]:
eng_tweet = pd.read_excel('english_tweets.xlsx')

In [6]:
len(eng_tweet)

2249

In [7]:
eng_tweet.head()

,serial,usernameTweet,ID,dead,infected,admitted,text,url,nbr_retweet,nbr_favorite,nbr_reply,datetime,has_media,medias,is_reply,is_retweet,user_id,location,bloodgroup
0,1672,DOAWAYWDENGUE,19666973140,NaN,NaN,NaN,# DENGUEFEVER #AWARENESS - `Dengue may break o...,/DOAWAYWDENGUE/status/19666973140,0,0,0,2010-07-27 21:54:07,NaN,NaN,False,False,33549705,bangladesh ;,
1,1674,medicalnewser,22481044997410816,NaN,NaN,NaN,Also In #Global Health #News : Field Trial To ...,/medicalnewser/status/22481044997410816,0,0,0,2011-01-05 08:34:33,NaN,NaN,False,False,18310337,bangladesh ;,
2,1675,medicalnewser,22498507948564480,NaN,NaN,NaN,Also In #Global Health #News : Field Trial To ...,/medicalnewser/status/22498507948564480,0,0,0,2011-01-05 09:43:56,NaN,NaN,False,False,18310337,bangladesh ;,
3,1676,medicalnewser,22562075523940352,NaN,NaN,NaN,Also In #Global Health #News : Field Trial To ...,/medicalnewser/status/22562075523940352,0,0,0,2011-01-05 13:56:32,NaN,NaN,False,False,18310337,bangladesh ;,
4,1677,medicalnewser,22634942890516480,NaN,NaN,NaN,Also In #Global Health #News : Field Trial To ...,/medicalnewser/status/22634942890516480,0,0,0,2011-01-05 18:46:05,NaN,NaN,False,False,18310337,bangladesh ;,

In [8]:
ban_tweet = ban_tweet[['datetime','location']]
eng_tweet = eng_tweet[['datetime','location']]

In [9]:
data1 = pd.read_excel('BD_data v2.xlsx')
data2 = pd.read_excel('data v3.xlsx')

In [10]:
len(data1)

2939

In [11]:
len(data2)

3591

In [12]:
data1.head()

,Unnamed: 0,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,locations_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,barisal2015-1
2,0.0,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,barisal2015-2
3,0.0,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,barisal2015-3
4,0.0,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,barisal2015-4

In [13]:
data2.head()

  district  year  month  rainfall  days locations_month
0  barisal  2015      1     10.17   3.0   barisal2015-1
1  barisal  2015      2      2.26   3.0   barisal2015-2
2  barisal  2015      3      4.83  14.0   barisal2015-3
3  barisal  2015      4     44.09  16.0   barisal2015-4
4  barisal  2015      5     20.35  15.0   barisal2015-5

In [14]:
data1.drop('Unnamed: 0',axis=1,inplace=True)

In [15]:
len(data1[data1.isnull().any(axis=1)])

107

In [16]:
data1.dropna(inplace=True)

In [17]:
len(data1)

2832

In [18]:
data2.dropna(inplace=True)

In [19]:
len(data2)

2736

In [20]:
len(data1)

2832

In [21]:
data1.head()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,locations_month
1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,barisal2015-1
2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,barisal2015-2
3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,barisal2015-3
4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,barisal2015-4
5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0,barisal2015-5

In [22]:
data2.head()

  district  year  month  rainfall  days locations_month
0  barisal  2015      1     10.17   3.0   barisal2015-1
1  barisal  2015      2      2.26   3.0   barisal2015-2
2  barisal  2015      3      4.83  14.0   barisal2015-3
3  barisal  2015      4     44.09  16.0   barisal2015-4
4  barisal  2015      5     20.35  15.0   barisal2015-5

In [23]:
data1['locations_month'] = [list(data1['locations_month'])[i].lower() for i in range(len(data1))]

In [24]:
data2['locations_month'] = [list(data2['locations_month'])[i].lower() for i in range(len(data2))]

In [25]:
for i in range(len(data2)):
    if '\xa0' in str(list(data2['locations_month'])[i]):
        data2.at[data2.index[i],'locations_month'] = str(list(data2['locations_month'])[i]).replace('\xa0','')
        print(data2['locations_month'][i])

madaripur2015-1
madaripur2015-2
madaripur2015-3
madaripur2015-4
madaripur2015-5
madaripur2015-6
madaripur2015-7
madaripur2015-8
madaripur2015-9
madaripur2015-10
madaripur2015-11
madaripur2015-12
madaripur2016-1
madaripur2016-2
madaripur2016-3
madaripur2016-4
madaripur2016-5
madaripur2016-6
madaripur2016-7
madaripur2016-8
madaripur2016-9
madaripur2016-10
madaripur2016-11
madaripur2016-12
madaripur2017-1
madaripur2017-2
madaripur2017-3
madaripur2017-4
madaripur2017-5
madaripur2017-6
madaripur2017-7
madaripur2017-8
madaripur2017-9
madaripur2017-10
madaripur2017-11
madaripur2017-12
madaripur2018-1
madaripur2018-2
madaripur2018-3
madaripur2018-4
madaripur2018-5
madaripur2018-6
madaripur2018-7
madaripur2018-8
madaripur2018-9
madaripur2018-10
madaripur2018-11
madaripur2018-12
madaripur2019-1
madaripur2019-2
madaripur2019-3
madaripur2019-4
madaripur2019-5
madaripur2019-6
madaripur2019-7
madaripur2019-8
madaripur2019-9
manikganj2015-1
manikganj2015-2
manikganj2015-3
manikganj2015-4
manikganj2015-5
manikganj2015-6
manikganj2015-7
manikganj2015-8
manikganj2015-9
manikganj2015-10
manikganj2015-11
manikganj2015-12
manikganj2016-1
manikganj2016-2
manikganj2016-3
manikganj2016-4
manikganj2016-5
manikganj2016-6
manikganj2016-7
manikganj2016-8
manikganj2016-9
manikganj2016-10
manikganj2016-11
manikganj2016-12
manikganj2017-1
manikganj2017-2
manikganj2017-3
manikganj2017-4
manikganj2017-5
manikganj2017-6
manikganj2017-7
manikganj2017-8
manikganj2017-9
manikganj2017-10
manikganj2017-11
manikganj2017-12
manikganj2018-1
manikganj2018-2
manikganj2018-3
manikganj2018-4
manikganj2018-5
manikganj2018-6
manikganj2018-7
manikganj2018-8
manikganj2018-9
manikganj2018-10
manikganj2018-11
manikganj2018-12
manikganj2019-1
manikganj2019-2
manikganj2019-3
manikganj2019-4
manikganj2019-5
manikganj2019-6
manikganj2019-7
manikganj2019-8
manikganj2019-9

In [26]:
data1.set_index('locations_month',inplace=True)
data2.set_index('locations_month',inplace=True)

In [27]:
data1.head()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC
locations_month,,,,,,,,,,,,,,,
barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0
barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0
barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0
barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0
barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0

In [28]:
data2.head()

                district  year  month  rainfall  days
locations_month
barisal2015-1    barisal  2015      1     10.17   3.0
barisal2015-2    barisal  2015      2      2.26   3.0
barisal2015-3    barisal  2015      3      4.83  14.0
barisal2015-4    barisal  2015      4     44.09  16.0
barisal2015-5    barisal  2015      5     20.35  15.0

In [29]:
data = data1.loc[data2.index].copy()

c:\users\alvir\deelearning\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

In [30]:
len(data[data.isnull().any(axis=1)])

174

In [31]:
data.dropna(inplace=True)

In [32]:
data[['rainFall','rainDays']] = data2[['rainfall','days']]

In [33]:
data.head()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays
locations_month,,,,,,,,,,,,,,,,,
barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,10.17,3.0
barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,2.26,3.0
barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,4.83,14.0
barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,44.09,16.0
barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0,20.35,15.0

In [34]:
tweet_data = pd.concat([ban_tweet,eng_tweet])

In [35]:
tweet_data = tweet_data.sample(frac=1).reset_index(drop=True)

In [36]:
tweet_data['location'].fillna("0",inplace=True)

In [37]:
loc_lst = list(tweet_data['location'])

In [38]:
loc_lst

['0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;  dhaka  ;  hospital  ; ',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 'bangladesh  ;   ',
 'bangladesh  ;   ',
 'hospital  ;   ',
 '0',
 'dhaka  ;   ',
 ' narail  ;   ',
 '0',
 '0',
 '0',
 'barguna   ;   ',
 '0',
 '0',
 'dhaka  ;  hospital  ;   ',
 'hospital  ;   ',
 '0',
 '0',
 'bangladesh  ; ',
 'lakshmipur  ;   ',
 '0',
 'dhaka  ;   ',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'kushtia  ;  hospital  ;   ',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'habiganj  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhanmondi  ;   ',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'medical  ;  dhaka  ;   ',
 '0',
 'hospital  ;   ',
 'hospital  ;   ',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 'jhenaidah  ;   ',
 '0',
 '0',
 'moulvibazar  ;   ',
 '0',
 '0',
 'jamalpur   ;   ',
 '0',
 '0',
 'bangladesh  ;  hospital  ; ',
 '0',
 'hospital  ;   ',
 'bangladesh  ;   ',
 '0',
 'barisal  ;   ',
 'bangladesh  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 'bangladesh  ;  rangpur  ;  faridpur  ;  dhaka  ; ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 'mymensingh  ;  noakhali  ; ',
 'kushtia  ;  chuadanga  ;   ',
 '0',
 '0',
 '0',
 'bogra  ;   ',
 'dhaka  ;   ',
 'bangladesh  ;  dhaka  ;  hospital  ; ',
 '0',
 'bangladesh  ;   ',
 '0',
 'dhaka  ;   ',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;  hospital  ; ',
 'dhaka  ;   ',
 '0',
 'meherpur  ;   ',
 'bangladesh  ;  dhaka  ; ',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 ' natore  ;   ',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 'bangladesh  ;  medical  ;  faridpur  ;  hospital  ; ',
 'bangladesh  ;  dhaka  ;  hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;  hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 'khulna   ;   ',
 'hospital  ;   ',
 '0',
 'bangladesh  ; ',
 'bangladesh  ;  dhaka  ;   ',
 'bangladesh  ;  dhaka  ; ',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'hospital  ;   ',
 'bangladesh  ; ',
 '0',
 '0',
 '0',
 '0',
 'comilla  ;   ',
 '0',
 'bangladesh  ;   ',
 'bangladesh  ; ',
 'bangladesh  ;   ',
 'madaripur  ;   ',
 '0',
 '0',
 '0',
 'bangladesh  ;   ',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;  dhaka  ;  farmgate  ;   ',
 '0',
 'bangladesh  ;  dhaka  ;   ',
 '0',
 '0',
 'medical  ;   ',
 '0',
 '0',
 '0',
 'gazipur  ;   ',
 '0',
 '0',
 '0',
 'magura  ;   ',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dinajpur  ;  hospital  ;   ',
 '0',
 '0',
 'khulna   ;   ',
 '0',
 'barisal  ;   ',
 '0',
 'bangladesh  ;  hospital  ; ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;   ',
 '0',
 'dhaka  ;   ',
 '0',
 'thakurgaon  ;  hospital  ;   ',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 'bangladesh  ; ',
 '0',
 'jhenaidah  ;   ',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'khulna   ;   ',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 'dhaka  ;  hospital  ;   ',
 ' natore  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 'bangladesh  ;   ',
 '0',
 'dhaka  ;   ',
 'bangladesh  ;  hospital  ; ',
 'medical  ;  dhaka  ;   ',
 '0',
 'hospital  ;   ',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 'dinajpur  ;   ',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 'jhenaidah  ;   ',
 ' chapainawabganj  ;   ',
 '0',
 '0',
 'kushtia  ;  chuadanga  ;   ',
 'kurigram  ;   ',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 '0',
 'dinajpur  ;   ',
 '0',
 'bangladesh  ;  dhaka  ; ',
 '0',
 '0',
 'kushtia  ;   ',
 'jhenaidah  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 'barguna   ;   ',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 'brahmanbaria  ;   ',
 'hospital  ;   ',
 '0',
 'hospital  ;   ',
 'bangladesh  ;  chittagong  ;   ',
 'medical  ;   ',
 '0',
 '0',
 'dhaka  ; ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;  hospital  ;  gendaria  ; ',
 'bangladesh  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'khulna   ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 'tangail  ;   ',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 'naogaon  ;   ',
 'hospital  ;  paltan  ;   ',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 'dhaka  ;   ',
 'uttara  ;  mirpur  ;   ',
 '0',
 'satkhira  ;   ',
 '0',
 '0',
 'medical  ;  rajshahi  ;  hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 'barguna   ;   ',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;  hospital  ; ',
 'gaibandha  ;  dinajpur  ;   ',
 '0',
 'lakshmipur  ;   ',
 '0',
 '0',
 'bangladesh  ;   ',
 'bangladesh  ;  hospital  ; ',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'narsingdi  ;  hospital  ;   ',
 'dhaka  ;  mirpur  ;   ',
 'bangladesh  ;  hospital  ; ',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 'dhaka  ;   ',
 '0',
 'bangladesh  ; ',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 'bangladesh  ;  medical  ;  barisal  ; ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 'thakurgaon  ;  hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;  dhaka  ;   ',
 'bangladesh  ;  medical  ;   ',
 'kushtia  ;   ',
 '0',
 '0',
 '0',
 'dinajpur  ;   ',
 'medical  ;  hospital  ;   ',
 '0',
 '0',
 'bangladesh  ;  dhaka  ; ',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;   ',
 'bangladesh  ;   ',
 'barisal  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 'chittagong  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'rajshahi  ;  hospital  ; ',
 'rangpur  ;   ',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'moulvibazar  ;   ',
 '0',
 'hospital  ;   ',
 '0',
 'bangladesh  ;  hospital  ; ',
 '0',
 'dhaka  ; ',
 '0',
 '0',
 '0',
 '0',
 'barisal  ;   ',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 'medical  ;   ',
 'rajshahi  ;   ',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 'hospital  ;  uttara  ;   ',
 'bangladesh  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ; ',
 '0',
 '0',
 '0',
 '0',
 'khulna   ;   ',
 '0',
 'dinajpur  ;   ',
 'bangladesh  ;  rajshahi  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'rajshahi  ;   ',
 '0',
 '0',
 '0',
 'mymensingh  ;   ',
 '0',
 '0',
 'bangladesh  ;   ',
 'barisal  ;  rajshahi  ;  hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;  hospital  ;   ',
 '0',
 '0',
 'dhaka  ;  hospital  ;  mirpur  ; ',
 'hospital  ;   ',
 '0',
 'medical  ;  dinajpur  ;   ',
 'bangladesh  ;  habiganj  ;   ',
 'hospital  ;  gulshan  ;   ',
 'bangladesh  ; ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 'satkhira  ;   ',
 '0',
 'pirojpur  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 'barisal  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 'bangladesh  ;  hospital  ; ',
 '0',
 '0',
 'mymensingh  ;   ',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 'habiganj  ;   ',
 '0',
 '0',
 'chandpur   ;   ',
 'Bangladesh',
 'jhenaidah  ;   ',
 '0',
 '0',
 'kushtia  ;   ',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 'medical  ;  hospital  ;  dhanmondi  ;   ',
 'kushtia  ; jhenaidah  ;  hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 'kurigram  ;   ',
 '0',
 '0',
 'bangladesh  ;   ',
 '0',
 'bangladesh  ; ',
 '0',
 'chittagong  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'medical  ;  mymensingh  ;   ',
 'noakhali  ;   ',
 '0',
 '0',
 '0',
 '0',
 'jessore  ;  hospital  ;   ',
 '0',
 'bangladesh  ; ',
 '0',
 'bangladesh  ;   ',
 '0',
 'satkhira  ;   ',
 '0',
 '0',
 'dhaka  ;  hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'khulna   ;   ',
 '0',
 'hospital  ;   ',
 'bangladesh  ;   ',
 'moulvibazar  ;   ',
 'kurigram  ;   ',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'dhaka  ;   ',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 'mirpur  ;   ',
 'chandpur   ;   ',
 'feni  ;   ',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 'bangladesh  ;  hospital  ; ',
 '0',
 '0',
 '0',
 'barguna   ;  hospital  ;   ',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 'bangladesh  ;  dhaka  ; ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;  hospital  ; ',
 '0',
 'khulna   ;  hospital  ;   ',
 '0',
 'noakhali  ;   ',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 'bangladesh  ; ',
 '0',
 'dhaka  ; ',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 'bangladesh  ;  hospital  ; ',
 'rajbari  ;  hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;  gulshan  ; ',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 'habiganj  ;   ',
 '0',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 'kishoreganj  ;   ',
 '0',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 'dhaka  ;   ',
 '0',
 '0',
 'bangladesh  ; ',
 '0',
 'bangladesh  ;  medical  ;  rangpur  ;  hospital  ; ',
 'patuakhali  ;   ',
 'medical  ;  dhaka  ;  hospital  ;  dhaka medical college  ;   ',
 '0',
 'khulna  ; ',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'sylhet  ; ',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 'kaliganj  ;   ',
 'khulna  ; ',
 '0',
 '0',
 'bangladesh  ;  dhaka  ; ',
 'bangladesh  ;  rangpur  ;  dhaka  ; ',
 'bangladesh  ;  hospital  ; ',
 '0',
 '0',
 'hospital  ;   ',
 'hospital  ;   ',
 '0',
 'dinajpur  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 'bhola  ;   ',
 '0',
 '0',
 'medical  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ;   ',
 'dhaka  ;   ',
 'bangladesh  ;   ',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'hospital  ;   ',
 '0',
 'bangladesh  ; ',
 'bangladesh  ;  hospital  ; ',
 'barisal  ;   ',
 '0',
 '0',
 '0',
 '0',
 'bangladesh  ; ',
 ' narail  ;   ',
 ...]

In [39]:
for i in range(len(loc_lst)):
    while ' ' in loc_lst[i]:
        loc_lst[i] = loc_lst[i].replace(' ','')

In [40]:
for i in range(len(loc_lst)):
    if 'medical' in loc_lst[i]:
        loc_lst[i] = loc_lst[i].replace('medical','')

In [41]:
for i in range(len(loc_lst)):
    if 'hospital' in loc_lst[i]:
        loc_lst[i] = loc_lst[i].replace('hospital','')

In [42]:
for i in range(len(loc_lst)):
    if 'bangladesh' in loc_lst[i]:
        loc_lst[i] = loc_lst[i].replace('bangladesh','')

In [43]:
for i in range(len(loc_lst)):
    if '00' in loc_lst[i]:
        loc_lst[i] = loc_lst[i].replace('00','0')

In [44]:
for i in range(len(loc_lst)):
    if ';' in loc_lst[i] and (len(loc_lst[i]) > 3):
        loc_lst[i] = loc_lst[i].split(';')
    elif ';' in loc_lst[i]:
        loc_lst[i] = loc_lst[i].replace(';','0')
    else:
        loc_lst[i] = [loc_lst[i]]

In [45]:
for i in range(len(loc_lst)):
    if type(loc_lst[i]) != list:
        loc_lst[i] = [loc_lst[i]]

In [46]:
for i in range(len(loc_lst)):
    if '' in loc_lst[i]:
        loc_lst[i].remove('')

In [47]:
for i in range(len(loc_lst)):
    if '' in loc_lst[i]:
        loc_lst[i].remove('')

In [48]:
for i in range(len(loc_lst)):
    if '' in loc_lst[i]:
        loc_lst[i].remove('')

In [49]:
loc_lst

[['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['narail'],
 ['0'],
 ['0'],
 ['0'],
 ['barguna'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['lakshmipur'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['kushtia'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['habiganj'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhanmondi'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['jhenaidah'],
 ['0'],
 ['0'],
 ['moulvibazar'],
 ['0'],
 ['0'],
 ['jamalpur'],
 ['0'],
 ['0'],
 ['00'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['barisal'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['rangpur', 'faridpur', 'dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['mymensingh', 'noakhali'],
 ['kushtia', 'chuadanga'],
 ['0'],
 ['0'],
 ['0'],
 ['bogra'],
 ['dhaka'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['00'],
 ['dhaka'],
 ['0'],
 ['meherpur'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['natore'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['faridpur', ''],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['khulna'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['comilla'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['madaripur'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka', 'farmgate'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['gazipur'],
 ['0'],
 ['0'],
 ['0'],
 ['magura'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dinajpur'],
 ['0'],
 ['0'],
 ['khulna'],
 ['0'],
 ['barisal'],
 ['0'],
 ['00'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['thakurgaon'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['jhenaidah'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['khulna'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['dhaka'],
 ['natore'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['00'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['dinajpur'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['jhenaidah'],
 ['chapainawabganj'],
 ['0'],
 ['0'],
 ['kushtia', 'chuadanga'],
 ['kurigram'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dinajpur'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['kushtia'],
 ['jhenaidah'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['barguna'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['brahmanbaria'],
 ['0'],
 ['0'],
 ['0'],
 ['chittagong'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka', 'gendaria'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['khulna'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['tangail'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['naogaon'],
 ['paltan'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['uttara', 'mirpur'],
 ['0'],
 ['satkhira'],
 ['0'],
 ['0'],
 ['rajshahi'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['barguna'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['00'],
 ['gaibandha', 'dinajpur'],
 ['0'],
 ['lakshmipur'],
 ['0'],
 ['0'],
 ['0'],
 ['00'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['narsingdi'],
 ['dhaka', 'mirpur'],
 ['00'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['barisal'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['thakurgaon'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['00'],
 ['kushtia'],
 ['0'],
 ['0'],
 ['0'],
 ['dinajpur'],
 ['00'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['barisal'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['chittagong'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['rajshahi'],
 ['rangpur'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['moulvibazar'],
 ['0'],
 ['0'],
 ['0'],
 ['00'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['barisal'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['rajshahi'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['uttara'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['khulna'],
 ['0'],
 ['dinajpur'],
 ['rajshahi'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['rajshahi'],
 ['0'],
 ['0'],
 ['0'],
 ['mymensingh'],
 ['0'],
 ['0'],
 ['0'],
 ['barisal', 'rajshahi'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['dhaka', 'mirpur'],
 ['0'],
 ['0'],
 ['dinajpur'],
 ['habiganj'],
 ['gulshan'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['satkhira'],
 ['0'],
 ['pirojpur'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['barisal'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['00'],
 ['0'],
 ['0'],
 ['mymensingh'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['habiganj'],
 ['0'],
 ['0'],
 ['chandpur'],
 ['Bangladesh'],
 ['jhenaidah'],
 ['0'],
 ['0'],
 ['kushtia'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhanmondi'],
 ['kushtia', 'jhenaidah'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['kurigram'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['chittagong'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['mymensingh'],
 ['noakhali'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['jessore'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['satkhira'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['khulna'],
 ['0'],
 ['0'],
 ['0'],
 ['moulvibazar'],
 ['kurigram'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['mirpur'],
 ['chandpur'],
 ['feni'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['00'],
 ['0'],
 ['0'],
 ['0'],
 ['barguna'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['00'],
 ['0'],
 ['khulna'],
 ['0'],
 ['noakhali'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['00'],
 ['rajbari'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['gulshan'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['habiganj'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['kishoreganj'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['rangpur', ''],
 ['patuakhali'],
 ['dhaka', 'dhakacollege'],
 ['0'],
 ['khulna'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['sylhet'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['kaliganj'],
 ['khulna'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['rangpur', 'dhaka'],
 ['00'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dinajpur'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['bhola'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['dhaka'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['00'],
 ['barisal'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['narail'],
 ...]

In [50]:
tweet_data['location'] = loc_lst

In [51]:
tweet_data.head()

             datetime location
0 2016-07-16 17:43:01      [0]
1 2019-07-28 16:36:01      [0]
2 2018-09-22 17:14:06      [0]
3 2015-10-10 18:38:14      [0]
4 2019-08-01 17:57:34      [0]

In [52]:
tweet_data.sort_values('datetime',inplace=True)

In [53]:
tweet_data.head()

                 datetime location
1047  2010-07-08 02:51:04      [0]
17830 2010-07-10 23:50:55      [0]
28377 2010-07-15 22:09:40      [0]
25051 2010-07-27 21:54:07      [0]
24702 2010-08-15 20:06:45      [0]

In [54]:
tweet_data = tweet_data[tweet_data['datetime']>='2015-01-01 00:00:00']

In [55]:
tweet_data.index = [i for i in range(len(tweet_data))]

In [56]:
tweet_data.head()

             datetime location
0 2015-01-01 00:47:41      [0]
1 2015-01-12 19:47:43      [0]
2 2015-01-17 03:54:21      [0]
3 2015-01-19 16:19:29      [0]
4 2015-01-19 23:11:12      [0]

In [57]:
tweet_data['year_month'] = [str(np.array(tweet_data['datetime'])[i]).split('T')[0] for i in range(len(tweet_data))]

In [58]:
tweet_data.head()

             datetime location  year_month
0 2015-01-01 00:47:41      [0]  2015-01-01
1 2015-01-12 19:47:43      [0]  2015-01-12
2 2015-01-17 03:54:21      [0]  2015-01-17
3 2015-01-19 16:19:29      [0]  2015-01-19
4 2015-01-19 23:11:12      [0]  2015-01-19

In [59]:
temp_date = []
for i in range(len(tweet_data)):
    temp2 = str(np.array(tweet_data['year_month'])[0]).split('-')[1]
    if '0' in temp2 :
        temp2 = temp2.replace('0','')
    temp1 = str(np.array(tweet_data['year_month'])[0]).split('-')[0]
    temp_date.append(temp1+'-'+temp2)

In [60]:
len(tweet_data)

28090

In [61]:
tweet_data['year_month'] = temp_date

In [62]:
tweet_data.tail()

                 datetime  location year_month
28085 2019-09-25 22:02:19       [0]     2015-1
28086 2019-09-25 23:10:08  [khulna]     2015-1
28087 2019-09-26 00:37:48       [0]     2015-1
28088 2019-09-26 05:30:02       [0]     2015-1
28089 2019-09-26 05:32:16   [dhaka]     2015-1

In [63]:
data.head()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays
locations_month,,,,,,,,,,,,,,,,,
barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,10.17,3.0
barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,2.26,3.0
barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,4.83,14.0
barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,44.09,16.0
barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0,20.35,15.0

In [64]:
len(data)

2562

In [65]:
data['date'] = ['2'+data.index[i].split('2')[1] for i in range(len(data))]

In [66]:
data.head()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,date
locations_month,,,,,,,,,,,,,,,,,,
barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,10.17,3.0,2015-1
barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,2.26,3.0,2015-
barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,4.83,14.0,2015-3
barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,44.09,16.0,2015-4
barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0,20.35,15.0,2015-5

In [67]:
tweet_data.columns = ['datetime','location','date']

In [68]:
tweet_data.head()

             datetime location    date
0 2015-01-01 00:47:41      [0]  2015-1
1 2015-01-12 19:47:43      [0]  2015-1
2 2015-01-17 03:54:21      [0]  2015-1
3 2015-01-19 16:19:29      [0]  2015-1
4 2015-01-19 23:11:12      [0]  2015-1

In [69]:
data.head()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,date
locations_month,,,,,,,,,,,,,,,,,,
barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,10.17,3.0,2015-1
barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,2.26,3.0,2015-
barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,4.83,14.0,2015-3
barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,44.09,16.0,2015-4
barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0,20.35,15.0,2015-5

In [70]:
data['locations'] = [data.index[i].split('2')[0] for i in range(len(data))]

In [71]:
data.head()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,date,locations
locations_month,,,,,,,,,,,,,,,,,,,
barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,10.17,3.0,2015-1,barisal
barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,2.26,3.0,2015-,barisal
barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,4.83,14.0,2015-3,barisal
barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,44.09,16.0,2015-4,barisal
barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0,20.35,15.0,2015-5,barisal

In [72]:
data['label'] = [0 for i in range(len(data))]

In [73]:
data.tail()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,date,locations,label
locations_month,,,,,,,,,,,,,,,,,,,,
sylhet2019-5,38.0,26.0,33.0,10.7,7.0,71.5,9.0,5.0,1006.0,30.0,58.5,36.0,24.0,31.0,36.0,471.8,31.0,2019-5,sylhet,0
sylhet2019-6,34.0,26.0,31.0,10.8,7.0,82.0,9.0,5.0,1002.5,30.0,68.5,35.0,26.0,29.0,35.0,601.0,30.0,2019-6,sylhet,0
sylhet2019-7,31.0,25.0,28.0,9.5,6.0,89.0,8.0,4.0,1002.0,30.0,76.0,33.0,25.0,27.0,33.0,538.9,31.0,2019-7,sylhet,0
sylhet2019-8,33.0,25.0,30.0,9.5,6.0,87.0,7.0,4.0,1003.0,30.0,71.0,34.0,25.5,28.0,34.0,511.4,30.0,2019-8,sylhet,0
sylhet2019-9,32.0,25.0,29.0,8.8,6.0,87.0,8.5,5.0,1007.0,30.0,67.5,33.0,25.0,28.0,32.5,295.3,30.0,2019-9,sylhet,0

In [ ]:
loc_lst = list(data['locations'].unique())

i = 0
for haha in loc_lst:
    
    data.loc[data.locations == haha, 'locations'] = i
    i+=1

In [ ]:
data.to_excel('data_v4.xlsx','w')

In [74]:
tweet_data.tail()

                 datetime  location    date
28085 2019-09-25 22:02:19       [0]  2015-1
28086 2019-09-25 23:10:08  [khulna]  2015-1
28087 2019-09-26 00:37:48       [0]  2015-1
28088 2019-09-26 05:30:02       [0]  2015-1
28089 2019-09-26 05:32:16   [dhaka]  2015-1

In [ ]:
for i in range(len(tweet_data)):
    for j in range(len(tweet_data['location'][i])):
        
        for k in range(len(data)):
            if (tweet_data['location'][i][j] == data['locations'][k]) and (tweet_data['date'][i][j] == data['date'][k]):
                data.at[data.index[k],'label'] = 1

In [ ]:
tweet_data['location'][0][0]

In [ ]:
data['locations'][0]

In [ ]:
data.iloc[0]['label'] = 1

In [236]:
tweet_data.head()

             datetime location    date
0 2015-01-01 00:47:41      [0]  2015-1
1 2015-01-12 19:47:43      [0]  2015-1
2 2015-01-17 03:54:21      [0]  2015-1
3 2015-01-19 16:19:29      [0]  2015-1
4 2015-01-19 23:11:12      [0]  2015-1

In [234]:
data.iloc[0,19]

0.0

In [235]:
data.head()

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,date,locations,label
locations_month,,,,,,,,,,,,,,,,,,,,
barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,10.17,3.0,2015-1,barisal,0.0
barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,2.26,3.0,2015-,barisal,0.0
barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,4.83,14.0,2015-3,barisal,0.0
barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,44.09,16.0,2015-4,barisal,0.0
barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0,20.35,15.0,2015-5,barisal,0.0

In [238]:
data

,maxtempC,mintempC,avgtempC,sunHour,uvIndex,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,DewPointC,WindChillC,FeelsLikeC,rainFall,rainDays,date,locations,label
locations_month,,,,,,,,,,,,,,,,,,,,
barisal2015-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,1.5,24.0,13.0,23.0,23.0,10.17,3.0,2015-1,barisal,0.0
barisal2015-2,28.0,19.0,23.0,8.70,6.0,55.5,10.0,6.0,1013.5,30.0,9.5,26.0,14.0,25.0,26.0,2.26,3.0,2015-,barisal,0.0
barisal2015-3,33.0,22.0,27.0,11.60,7.0,50.5,10.0,6.0,1011.0,30.0,13.0,30.0,16.0,29.0,30.0,4.83,14.0,2015-3,barisal,0.0
barisal2015-4,33.0,26.5,29.0,12.75,7.0,67.5,10.0,6.0,1008.0,30.0,31.5,34.0,23.0,30.0,34.0,44.09,16.0,2015-4,barisal,0.0
barisal2015-5,35.0,28.0,31.0,13.10,8.0,69.5,10.0,6.0,1005.0,30.0,37.5,38.0,25.0,32.0,38.0,20.35,15.0,2015-5,barisal,0.0
barisal2015-6,33.0,29.0,31.0,12.00,8.0,70.0,10.0,6.0,1002.0,30.0,45.5,37.0,25.0,31.0,37.0,29.66,18.0,2015-6,barisal,0.0
barisal2015-7,32.0,27.5,29.5,12.00,7.0,77.0,10.0,6.0,999.0,30.0,57.5,35.0,25.0,30.0,35.0,68.01,26.0,2015-7,barisal,0.0
barisal2015-8,32.0,28.0,30.0,12.85,7.0,77.0,10.0,6.0,1003.0,30.0,45.5,36.0,25.0,30.0,36.0,38.65,21.0,2015-8,barisal,0.0
barisal2015-9,32.0,27.0,29.0,11.85,7.0,76.0,10.0,6.0,1005.0,30.0,38.5,35.0,25.0,30.0,35.0,80.97,24.0,2015-9,barisal,0.0
barisal2015-10,31.0,24.0,27.0,11.60,7.0,74.5,10.0,6.0,1010.5,30.0,26.0,32.0,24.0,29.0,32.0,36.15,18.0,2015-10,barisal,0.0
barisal2015-11,29.0,21.0,24.0,8.70,6.0,65.0,10.0,6.0,1013.0,30.0,1.0,29.0,20.0,27.0,29.0,3.09,4.0,2015-11,barisal,0.0
barisal2015-12,26.0,19.0,21.5,8.70,6.0,61.0,10.0,6.0,1015.0,30.0,14.0,25.0,15.5,23.0,24.0,9.67,8.0,2015-1,barisal,0.0
barisal2016-1,26.0,17.0,21.0,8.70,6.0,53.0,10.0,6.0,1015.0,30.0,2.0,25.0,13.0,23.0,23.5,0.64,2.0,2016-1,barisal,0.0
barisal2016-2,30.0,21.5,25.5,8.70,6.5,57.5,10.0,6.0,1014.0,30.0,9.0,28.5,18.0,27.0,28.5,7.40,5.0,2016-,barisal,0.0
barisal2016-3,34.0,25.0,29.0,11.60,7.0,54.0,10.0,6.0,1011.0,30.0,10.5,32.0,19.0,30.0,32.0,9.57,8.0,2016-3,barisal,0.0
barisal2016-4,35.0,27.0,30.5,12.70,8.0,68.0,10.0,6.0,1006.5,30.0,38.0,36.0,24.0,31.0,36.0,13.23,11.0,2016-4,barisal,0.0
barisal2016-5,34.5,28.0,31.0,13.10,8.0,70.5,10.0,6.0,1004.0,30.0,29.0,38.0,25.0,31.0,38.0,30.49,19.0,2016-5,barisal,0.0
barisal2016-6,33.0,28.0,30.0,13.30,7.5,75.0,10.0,6.0,1003.0,30.0,34.0,37.0,25.0,30.0,37.0,76.37,22.0,2016-6,barisal,0.0
barisal2016-7,33.0,27.0,30.0,13.10,6.0,78.0,9.0,5.0,1000.0,30.0,54.5,36.0,25.0,30.0,36.0,58.77,28.0,2016-7,barisal,0.0
barisal2016-8,33.0,27.0,29.0,12.80,7.0,77.0,10.0,6.0,1002.0,30.0,36.5,36.0,25.0,30.0,36.0,57.96,22.0,2016-8,barisal,0.0
barisal2016-9,32.0,27.0,29.0,11.60,7.0,78.5,10.0,5.0,1005.0,30.0,34.0,36.0,25.0,30.0,36.0,61.99,23.0,2016-9,barisal,0.0
barisal2016-10,31.0,25.0,27.5,11.60,7.0,76.5,10.0,6.0,1007.0,30.0,21.0,34.0,25.0,29.0,34.0,20.45,14.0,2016-10,barisal,0.0
barisal2016-11,28.0,19.5,23.0,8.70,6.0,67.5,10.0,6.0,1012.0,30.0,2.0,28.0,20.0,26.0,28.0,19.37,4.0,2016-11,barisal,0.0
barisal2016-12,27.0,17.0,22.0,8.70,6.0,59.5,10.0,6.0,1014.0,30.0,0.0,26.0,16.0,25.0,25.0,0.00,0.0,2016-1,barisal,0.0
barisal2017-1,27.0,16.0,21.0,8.70,6.0,47.0,10.0,6.0,1015.0,30.0,0.0,24.0,11.0,23.0,23.0,0.00,0.0,2017-1,barisal,0.0
barisal2017-2,30.0,19.0,24.0,8.70,6.0,46.5,10.0,6.0,1013.0,30.0,1.0,27.0,13.0,26.0,27.0,1.25,1.0,2017-,barisal,0.0
barisal2017-3,31.0,21.5,26.0,11.60,7.0,66.5,10.0,6.0,1010.0,30.0,14.5,29.0,19.5,27.0,29.0,8.43,9.0,2017-3,barisal,0.0
barisal2017-4,33.5,26.0,29.0,11.90,7.0,74.0,10.0,6.0,1008.0,30.0,40.5,34.0,24.0,29.5,34.0,8.06,7.0,2017-4,barisal,0.0
barisal2017-5,36.0,28.0,31.0,13.10,8.0,68.5,10.0,6.0,1004.0,30.0,24.5,38.5,25.0,32.0,38.5,17.34,11.0,2017-5,barisal,0.0
barisal2017-6,33.0,28.0,30.0,13.30,7.0,77.0,10.0,6.0,1001.0,30.0,36.5,37.0,25.0,30.0,37.0,59.52,21.0,2017-6,barisal,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sylhet2017-4,32.0,23.0,27.0,11.95,6.0,85.5,8.0,4.0,1009.0,30.0,40.5,30.0,23.0,27.0,30.0,256.14,20.0,2017-4,sylhet,0.0
sylhet2017-5,34.0,25.0,28.5,13.20,7.0,76.0,10.0,6.0,1006.0,30.0,17.0,34.0,24.0,29.5,34.0,109.26,21.0,2017-5,sylhet,0.0
sylhet2017-6,33.0,25.0,28.0,13.35,6.5,86.5,8.0,4.0,1003.0,30.0,47.0,34.5,26.0,28.0,34.5,323.05,29.0,2017-6,sylhet,0.0
sylhet2017-7,31.0,25.0,28.0,12.00,6.0,87.5,8.0,5.0,1003.0,30.0,61.0,33.5,26.0,28.0,33.5,166.92,28.0,2017-7,sylhet,0.0
sylhet2017-8,33.0,25.0,28.0,12.90,7.0,83.5,8.0,4.0,1004.0,30.0,48.0,35.0,25.0,29.0,35.0,170.41,31.0,2017-8,sylhet,0.0
sylhet2017-9,32.0,25.0,28.0,11.60,7.0,85.5,8.0,4.0,1007.0,30.0,41.0,34.0,25.0,28.0,34.0,176.26,28.0,2017-9,sylhet,0.0
sylhet2017-10,32.0,24.0,27.0,11.60,6.5,82.0,8.0,4.0,1008.0,30.0,29.0,32.5,24.5,28.0,32.5,168.88,20.0,2017-10,sylhet,0.0
sylhet2017-11,30.0,18.5,23.0,8.70,6.0,72.0,10.0,6.0,1012.0,30.0,2.0,28.0,20.0,25.0,28.0,8.47,4.0,2017-11,sylhet,0.0
sylhet2017-12,27.0,15.5,20.0,8.70,6.0,74.0,9.0,5.0,1015.0,30.0,2.5,24.0,18.0,23.0,23.0,27.92,7.0,2017-1,sylhet,0.0
sylhet2018-1,25.0,12.0,18.0,8.70,5.0,65.0,10.0,6.0,1014.0,30.0,0.0,21.0,14.0,20.5,20.5,4.46,1.0,2018-1,sylhet,0.0
sylhet2018-2,30.0,16.0,22.0,8.70,6.0,54.5,10.0,6.0,1013.0,30.0,7.0,24.0,13.0,23.0,23.5,1.60,1.0,2018-,sylhet,0.0
sylhet2018-3,34.0,20.0,26.0,11.60,7.0,52.0,10.0,6.0,1011.0,30.0,7.5,28.5,16.0,27.5,28.5,37.11,10.0,2018-3,sylhet,0.0
sylhet2018-4,35.5,23.0,28.0,12.80,7.0,59.5,10.0,6.0,1009.5,30.0,20.0,31.0,19.0,29.0,31.0,85.57,24.0,2018-4,sylhet,0.0
sylhet2018-5,33.0,23.0,27.5,13.20,7.0,78.5,9.0,5.0,1007.5,30.0,34.5,32.0,23.0,28.0,32.0,147.60,24.0,2018-5,sylhet,0.0
sylhet2018-6,33.0,26.0,29.0,13.30,7.0,82.5,9.0,5.0,1002.5,30.0,41.5,35.0,25.0,29.0,35.0,271.87,28.0,2018-6,sylhet,0.0
sylhet2018-7,32.0,25.0,28.0,13.30,6.5,85.0,9.0,5.0,1001.0,30.0,47.5,35.0,26.0,29.0,35.0,123.97,24.0,2018-7,sylhet,0.0
sylhet2018-8,33.5,26.0,29.0,12.95,7.0,82.5,9.0,5.0,1001.5,30.0,43.5,35.0,25.0,29.0,35.0,100.67,28.0,2018-8,sylhet,0.0
sylhet2018-9,33.0,25.0,28.0,11.60,7.0,83.0,8.0,5.0,1007.0,30.0,33.5,33.5,25.0,28.0,33.5,101.08,24.0,2018-9,sylhet,0.0
sylhet2018-10,31.0,21.0,25.0,11.60,6.0,72.0,10.0,6.0,1012.0,30.0,15.0,29.5,21.5,27.0,29.5,60.87,14.0,2018-10,sylhet,0.0
sylhet2018-11,28.5,16.5,22.0,8.70,6.0,72.0,10.0,6.0,1014.0,30.0,2.0,25.0,18.0,24.0,24.5,19.30,6.0,2018-11,sylhet,0.0
sylhet2018-12,25.5,14.0,19.0,8.70,5.0,68.0,10.0,6.0,1015.0,30.0,3.0,22.0,15.0,21.0,21.0,20.50,3.0,2018-1,sylhet,0.0
sylhet2019-1,29.0,15.0,24.0,8.70,6.0,57.0,10.0,6.0,1016.0,30.0,1.0,23.0,12.0,22.0,23.0,1.00,2.0,2019-1,sylhet,0.0
sylhet2019-2,31.0,17.0,25.0,8.70,6.0,52.5,10.0,6.0,1015.0,30.0,10.0,24.0,11.5,23.0,24.0,82.50,7.0,2019-,sylhet,0.0
sylhet2019-3,34.0,21.0,29.0,11.60,7.0,49.0,10.0,6.0,1011.5,30.0,16.0,28.0,14.5,27.5,28.0,69.00,12.0,2019-3,sylhet,0.0
sylhet2019-4,37.5,25.0,32.5,12.70,7.0,63.0,10.0,5.0,1009.0,30.0,39.0,32.0,21.0,31.0,32.0,352.20,21.0,2019-4,sylhet,0.0
sylhet2019-5,38.0,26.0,33.0,10.70,7.0,71.5,9.0,5.0,1006.0,30.0,58.5,36.0,24.0,31.0,36.0,471.80,31.0,2019-5,sylhet,0.0
sylhet2019-6,34.0,26.0,31.0,10.80,7.0,82.0,9.0,5.0,1002.5,30.0,68.5,35.0,26.0,29.0,35.0,601.00,30.0,2019-6,sylhet,0.0
sylhet2019-7,31.0,25.0,28.0,9.50,6.0,89.0,8.0,4.0,1002.0,30.0,76.0,33.0,25.0,27.0,33.0,538.90,31.0,2019-7,sylhet,0.0
sylhet2019-8,33.0,25.0,30.0,9.50,6.0,87.0,7.0,4.0,1003.0,30.0,71.0,34.0,25.5,28.0,34.0,511.40,30.0,2019-8,sylhet,0.0
sylhet2019-9,32.0,25.0,29.0,8.80,6.0,87.0,8.5,5.0,1007.0,30.0,67.5,33.0,25.0,28.0,32.5,295.30,30.0,2019-9,sylhet,0.0

In [241]:
data.to_excel('data_v4.xlsx','w')